{% extends "layout.html" %}
{% block content %}
    <p>Please enter the quantities of packs you currently own.</p>
    <p>We will try to match you with users who have duplicate packs that you do not, and you have duplicate packs they do not.</p>
    <form method="POST" class="manage-form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if not loop.first %} {# skip CSFR field, which is guaranteed to always be first #}
                <div>{{ field.label }} {{ field }}</div>
            {% endif %}
        {% endfor %}
        <input type="submit">
    </form>
{% endblock %}
